split-06-rodrigo-fuenzalida_tagged
split-06-rodrigo-fuenzalida_tagged_tag
split-06-rodrigo-fuenzalida_tagged_tag_v2
images
python2
Tarea_4.pdf
montylingua-2.1.zip
montylingua-2.1
stanford-postagger
stanford-pos-tagger-service
categorias.txt
montylinguaresult.txt
noise.txt
querys.txt
result.txt
test.py
test2.py